
@{
    ViewBag.Title = "Create";
}

<h2>商品管理頁</h2>

@*功能:可編輯類別，商品名稱，公司名稱，介紹，庫存量、價格、上傳商品圖
  說明:使用post方式將資料傳向後端Create方法
  說明:編輯完成後按下"新增"導向目前所有商品圖片
  備註:介紹部分使用CK Editor編輯，尚未完成取得編輯內容*@
<form method="post" action="@Url.Action("Create")" enctype="multipart/form-data">
    <div>
        <p>商品類別:<input type="text" name="CategoryId" id="CategoryId" value="@ViewBag.CategoryId" /></p>
        <p>商品父類別:<input type="text" name="ParentCategory_Id" id="ParentCategory_Id" value="@ViewBag.ParentCategory_Id" /></p>
        <p>商品名稱:<input type="text" name="Name" id="Name" value="@ViewBag.Name" /></p>
        <p>公司名稱:<input type="text" name="SupplierName" id="SupplierName" value="@ViewBag.SupplierName" /></p>
        <p>售價:<input type="text" name="Price" id="Price" value="@ViewBag.Price" /></p>
        <p>庫存:<input type="text" name="Stock" id="Stock" value="@ViewBag.Stock" /></p>
        <p>介紹:</p>
        <div id="editor">
            <input type="text" name="Description" id="Description" value="@ViewBag.Description" />
        </div>
        <p>商品圖片:</p>
        <div>
            <input type="file" name="Photo" id="Photo" />
        </div>
        <p><input type="submit" value="新增" /></p>
    </div>
</form>


<script>
    CKEDITOR.replace("editor");
    //說明:取得編輯器文字內容
    function processData() {
        // getting data
        var data = CKEDITOR.instances["editor"].getData();
        alert(data);
    }
</script>
