
@model IEnumerable<ShoppingMail.Models.Shoppingcarmodel>

@{ ViewBag.Title = "ShoppingCar"; int TotalPrice = 0; }

<form method="post" action="@Url.Action("DeleteSelected")">
    <p>
        @Html.ActionLink("返回上一頁", "Index")
    </p>
    <p>
        <input type="submit" value="刪除選取項目" class="btn btn-info" onclick="return confirm('確定要刪除嗎?');" id="clickOrderdetail" />
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    選取
                </th>
                <th>
                    商品名稱
                </th>
                <th>
                    圖示
                </th>
                <th>
                    售價
                </th>
                <th>
                    數量
                </th>
                <th>
                    編輯
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <input type="checkbox" id="fPId" name="fPId" value="@item.fPId" />
                    </td>
                    <td>
                        @item.fPName
                    </td>
                    <td>
                        <img src="~/Images/@item.fImg" width="300" height="200" >
                    </td>
                    <td>
                        @item.fPrice
                    </td>
                    <td class="cart-label" data-th="Quantity">
                        <input type="number" class="form-control form-control-sm text-center js-part-quantity" value="@item.fOrderQty" max="@item.fMaxQty" min="1" >                                                          
                    </td>                  
                    <td>
                        <a href="@Url.Action("DeleteCar")?fPId=@item.fPId" class="btn btn-danger">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<div class="container py-5 " id="finishcheck ">
    <h1 class="text-center mb-3 text-secondary ">訂單明細</h1>
        <div class="alert alert-success alert-rounded text-center ">完成</div>
        <table class="table table w-100 table-sm">
            <thead class="thead-light">
                <tr>
                    <th width="100">
                        商品名稱
                    </th>
                    <th width="100">
                        售價
                    </th>
                    <th width="100">
                        數量
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    TotalPrice += Convert.ToInt32(item.fPrice) * Convert.ToInt32(item.fOrderQty);
                    <tr>
                        <td>
                            @item.fPName
                        </td>
                        <td>
                            @item.fPrice

                        </td>
                        <td>
                            @item.fOrderQty
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">
                        訂單金額：$&nbsp;@TotalPrice
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>





