@*@model IEnumerable<ShoppingMail.Models.tOrderDetail>*@


@model IEnumerable<ShoppingMail.Models.Shoppingcarmodel>

@{ ViewBag.Title = "ShoppingCar"; int TotalPrice = 0; }


<h2>購物車清單</h2>


<form method="post" action="@Url.Action("DeleteSelected")">
    <p>
        @Html.ActionLink("返回上一頁", "Index")

    </p>
    <p>
        <input type="submit" value="刪除選取項目" class="btn btn-info" onclick="return confirm('確定要刪除嗎?');" id="clickOrderdetail" />
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    選取
                </th>
                <th>
                    商品名稱
                </th>
                <th>
                    圖示
                </th>
                <th>
                    售價
                </th>
                <th>
                    數量
                </th>
                <th>
                    尺寸
                </th>
                <th>
                    顏色
                </th>
                <th>
                    編輯
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <input type="checkbox" id="fPId" name="fPId" value="@item.fPId" />
                    </td>
                    <td>
                        @item.fPName
                    </td>
                    <td>
                        <img src="~/Images/@item.fImg" width="200" height="300" >
                    </td>
                    <td>
                        @item.fPrice
                    </td>

                    <td class="cart-label" data-th="Quantity">
                        <input type="number" class="form-control form-control-sm text-center js-part-quantity" value="@item.fOrderQty" max="@item.fMaxQty" min="1">
                    </td>
                    <td class="cart-label" data-th="Size">
                        <select name="" id="" class="form-control mr-1">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                        </select>
                    </td>
                    <td class="cart-label" data-th="Color">
                        <select name="" id="" class="form-control mr-1">
                            <option value="白色">白色</option>
                            <option value="米色">米色</option>
                            <option value="米色">黑色</option>       
                        </select>
                    </td>
                    
                    <td>
                        <a href="@Url.Action("DeleteCar")?fPId=@item.fPId" class="btn btn-danger">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>














<!-- 結帳區 -->
<div class="container py-5" id="CartCheckout">
    <h2 class="text-center mb-3 text-secondary">結帳區</h2>
    <div class="form-row text-center">
        <div class="col-12 col-sm">
            <div class="alert alert-light alert-rounded" role="alert">1.輸入訂單資料</div>
        </div>
        <div class="col-12 col-sm">
            <div class="alert alert-primary alert-rounded" role="alert">2.付款資料</div>
        </div>
        <div class="col-12 col-sm">
            <div class="alert alert-light alert-rounded" role="alert">3.訂購完成</div>
        </div>
    </div>
    訂單明細

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h5 class="text-center bg-light py-3 mt-5 ">訂購人資訊</h5>
            <form class="needs-validation " novalidate>
                <div class="form-row ">
                    <div class="form-group col-md-6 ">
                        <label for="inputName ">姓名</label>
                        <input type="text" id="fReceiver" name="fReceiver" class="form-control" placeholder="姓名" required="required" />
                        <div class="invalid-feedback ">請輸入姓名</div>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="inputMail ">Email</label>
                        <input type="email" id="fEmail" name="fEmail" class="form-control" placeholder="Email" required="required" />
                        <div class="invalid-feedback ">請輸入Email</div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md ">
                        <label for="inputZip ">郵遞區號</label>
                        <input type="number" class="form-control " id="inputZip " required>
                        <div class="invalid-feedback ">請輸入郵遞區號</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputAddress">收件地址</label>
                    <input type="text" id="fAddress" name="fAddress" class="form-control " placeholder="高雄市三民區民族一路 " required="required" />
                    <div class="invalid-feedback ">請輸入地址</div>
                </div>
                <div class="form-row justify-content-end ">
                    <input type="submit" value="送出訂單" class="btn btn-primary" />

                </div>
            </form>
        </div>
    </div>
</div>

<h2>訂單明細</h2>

<div class="container py-5 " id="finishcheck ">
        <h1 class="text-center mb-3 text-secondary ">結帳完成</h1>
        <div class="alert alert-success alert-rounded text-center ">完成</div>
        <table class="table table w-100 table-sm">
            <thead class="thead-light">
                <tr>
                    <th width="100">
                        商品名稱
                    </th>

                    <th width="100">
                        售價
                    </th>
                    <th width="100">
                        數量
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    TotalPrice += Convert.ToInt32(item.fPrice) * Convert.ToInt32(item.fOrderQty);
                    <tr>
                        <td>
                            @item.fPName
                        </td>
                        <td>
                            @item.fPrice

                        </td>
                        <td>
                            @item.fOrderQty
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">
                        訂單金額：$&nbsp;@TotalPrice
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>



<!-- API used https://www.exchangerate-api.com/ -->
<div class="container">
    <h3>幣別換算</h3>
    <div class="currency">
        <select id="from_currency">
            @*<option value="CNY">CNY</option>*@
            <option value="TWD">TWD</option>
        </select>
        <input type="number" id="from_ammount" placeholder="0" value=@TotalPrice />
    </div>
    <div class="middle">
        <button id="exchange">
            <i class="fas fa-exchange-alt"></i>
        </button>
        <div class="rate" id="rate"></div>
    </div>
    <div class="currency">
        <select id="to_currency">
            <option value="CNY">CNY</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
            <option value="USD">USD</option>
        </select>
        <input type="number" id="to_ammount" placeholder="0" />
    </div>
</div>



<script>
    const from_currencyEl = document.getElementById('from_currency');
    const from_ammountEl = document.getElementById('from_ammount');
    const to_currencyEl = document.getElementById('to_currency');
    const to_ammountEl = document.getElementById('to_ammount');
    const rateEl = document.getElementById('rate');
    const exchange = document.getElementById('exchange');

    from_currencyEl.addEventListener('change', calculate);
    from_ammountEl.addEventListener('input', calculate);
    to_currencyEl.addEventListener('change', calculate);
    to_ammountEl.addEventListener('input', calculate);

    exchange.addEventListener('click', () => {
        const temp = from_currencyEl.value;
        from_currencyEl.value = to_currencyEl.value;
        to_currencyEl.value = temp;
        calculate();
    });

    function calculate() {
        const from_currency = from_currencyEl.value;
        const to_currency = to_currencyEl.value;
    4
        fetch(`https://api.exchangerate-api.com/v4/latest/${from_currency}`)


            .then(res => res.json())
            .then(res => {
                const rate = res.rates[to_currency];
                rateEl.innerText = `1 ${from_currency} = ${rate} ${to_currency}`
                to_ammountEl.value = (from_ammountEl.value * rate).toFixed(2);
            })
    }

    calculate();
</script>


